
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
body{
	background-color: #fdde7e;
	height: 100%;
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 100px 60px;
	height: auto;
}
.item{
	background-color: #fff;
	height: 443px;
	width: 363px;
	text-align: center;
	border-radius: 5px;
	transition: all 0.4s;
}
.item:hover{
  transform: scale(1.2);
}
h2{
	font-size: 56px;
	color: #333333;
}
p{
	font-size: 20px;
	color: #adadad;
	text-transform: lowercase;
}
h1{
	font-size: 70px;
	color: #02995b;
	font-weight: 300;
}

/*.gold{
	background-color: #fff;
	height: 443px;
	width: 363px;
	text-align: center;
	border-radius: 5px;
	transition: all 0.4s;
}
.gold:hover {
  transform: scale(1.2);
}
.silver{
	background-color: #fff;
	height: 443px;
	width: 363px;
	text-align: center;
	border-radius: 5px;
	transition: all 0.4s;
}
.silver:hover {
  transform: scale(1.2);
}
/*
